.landing {
  height: 100%;
}

.toolbar {
  background: url('~/assets/images/landing_background.svg') center top / cover no-repeat !important;
  height: 100px;

  .logo {
    display: flex;
    align-items: center;
    font-size: medium;
    color: #ffffff;

    .material-icons {
      margin-right: 5px;
      color: #ffffff !important;
    }
  }

  .navigate {
    display: flex;
    align-items: center;

    .search {
      height: 64px;
      width: 450px;
    }

    .link {
      text-decoration: none;
      margin-right: 1rem;
      color: #ffffff !important;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }
 
}

.content {
  padding: 1rem;
}
