<div class="landing">

  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <a class="logo" routerLink="/">
        <i class="material-icons">style</i> E Library
      </a>
      <span class="spacer"></span>
      <div class="navigate">
        <a mat-icon-button class="link" routerLink="/client/books">
          <mat-icon class="material-icons">library_books</mat-icon>
        </a>
        <a mat-icon-button class="link" routerLink="/admin/login">
          <mat-icon class="material-icons">vpn_key</mat-icon>
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>
