.auth-page {
  width: 100%;
  height: 100%;
  // background-color: #005af0;
  background-image: url(https://ak5.picdn.net/shutterstock/videos/12275615/thumb/1.jpg);
  padding: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}



.test {
  background: url(https://gudjob.net/storage/2020/01/li%C3%AAn-h%E1%BB%87-GUDJOB.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 275px;
  padding: 1rem;
  background-color: #005af0;
}

.form {
  display: block;
  margin-top: 40px;
}

.auth-card {
  width: 420px;
  padding: 32px;
  padding-bottom: 48px;
}

mat-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
