<div class="header">
  <h1>
    KẾT QUẢ TÌM KIẾM
  </h1>
  
  <form>
    <mat-form-field class="search-field">
      <mat-label>Tìm sách</mat-label>
      <input matInput (keyup.enter)="onSearch(searchInput.value)" placeholder="Search book name ...." #searchInput>
      <mat-icon class="search-field-icon" matSuffix
        routerLink="/client/books/search"
        [queryParams]="{ keyword: searchInput.value }"
        
      >
        search</mat-icon>
    </mat-form-field>
  </form>

</div>

<div class="loading" *ngIf="(loading$ | async)">
  <mat-spinner></mat-spinner>
  <p> Đang tìm sách ...</p>
</div>

<div class="loading" *ngIf="!(loading$ | async) && (booksSearchByName$ | async) && (booksSearchByName$ | async).length === 0">
  <p>Không có sách phù hợp</p>
</div>

<div *ngIf="!(loading$ | async)">
  <div class="card-container">
    <app-book-card *ngFor="let book of booksSearchByName$ | async" class="card" [book]="book"></app-book-card>
  </div>
</div>
