<form name="loginForm" autocomplete="off" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput autocomplete="off" tabindex="1" type="text" placeholder="Email" formControlName="email" />
    <mat-icon *ngIf="!form.get('email').value" matSuffix>email</mat-icon>
    <mat-icon *ngIf="form.get('email').value" matSuffix>drafts</mat-icon>
    <mat-error>
      <span *ngIf="form.get('email').hasError('email')">
        Email is not correct
      </span>
    </mat-error>
    <mat-error>
      <span *ngIf="form.get('email').hasError('required')">
        Enter your email
      </span>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput autocomplete="off" tabindex="2" type="password" placeholder="Password" formControlName="password" />
    <mat-icon *ngIf="!form.get('password').value" matSuffix>lock</mat-icon>
    <mat-icon *ngIf="form.get('password').value" matSuffix>lock_open</mat-icon>
    <mat-error>
      <span *ngIf="form.get('password').hasError('required')">
        Enter your password
      </span>
    </mat-error>
  </mat-form-field>

  <div class="actions" fxLayoutAlign="end">
    <button mat-raised-button tabindex="3" color="accent" type="submit" class="w-100" [disabled]="form.invalid">
      Login
    </button>
  </div>
</form>
