:host::ng-deep.mat-button-wrapper {
  display: flex;
  align-items: center;
}

.book-location {
  text-align: center;
}

.book-map {
  width: 450px;
}

.book-pin {
  font-size: xx-large;
  position: absolute;
  top: 99px;
  right: 60px;
  z-index: 999;
}

.book-image {
  text-align: center;
  display: flex;
  justify-content: center;
}

.book-image img {
  width: 350px;
}

.book-description {
  text-align: justify;
  white-space: pre-wrap;
}
