<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{book.name}}</mat-card-title>
    <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="book-content">
    <p class="book-image">
      <img src="{{book.image}}">
    </p>
    <p class="book-description">
      {{book.description}}
    </p>
    
  </mat-card-content>

  <mat-card-actions class="book-actions">
    <a routerLink="./detail/{{book.sku}}/{{book.id}}" 
       mat-raised-button 
       color='primary' 
       class="action-btn" 
      >
      Xem thêm <mat-icon class="btn-icon">check</mat-icon>
    </a>
  </mat-card-actions>

</mat-card>