<div class="header">
  <h1 class="title"> Chào mừng đến với thư viện ELIBRARY </h1>

  <form>
    <mat-form-field class="search-field">
      <mat-label>Tìm sách</mat-label>
      <input matInput (keyup.enter)="onSearch(searchInput.value)" placeholder="Search book name ...." #searchInput>
      <mat-icon class="search-field-icon" matSuffix routerLink="/client/books/search"
        [queryParams]="{ keyword: searchInput.value }"  >
        search</mat-icon>
    </mat-form-field>
  </form>

</div>


<div class="loading" *ngIf="(books$ | async).length === 0">
  <mat-spinner></mat-spinner>
  <p>Đang tải sách</p>
</div>


<div *ngIf="(books$ | async).length > 0">
  <pagination-controls 
      previousLabel="Trước"
      nextLabel="Sau"
      class="pagination"
      (pageChange)="p = $event"></pagination-controls>
  <div class="card-container">
    <app-book-card *ngFor="let book of (books$ | async) | paginate: { itemsPerPage: 9, currentPage: p }" class="card"
      [book]="book">
    </app-book-card>
  </div>
</div>
