<div class="header">
  <h1>
    WELCOME TO E LIBRARY
  </h1>

  <p>
    <mat-form-field class="search-field">
      <mat-label>Books</mat-label>
      <input matInput placeholder="Search book name ...." #searchInput>
      <mat-icon class="search-field-icon" matSuffix 
      [routerLink]="['search']" [queryParams]="{ keyword: searchInput.value }">search</mat-icon>
    </mat-form-field>

  </p>

</div>


<div class="loading" *ngIf="(books$ | async).length === 0">
  <mat-spinner></mat-spinner>
  <p>Loading books ...</p>
</div>


<div *ngIf="(books$ | async).length > 0">
  <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
  <div class="card-container">
    <app-book-card *ngFor="let book of (books$ | async) | paginate: { itemsPerPage: 9, currentPage: p }" class="card"
      [book]="book"></app-book-card>
  </div>
</div>