<div class="auth-page" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="auth-card">
    <mat-progress-bar mode="indeterminate"
      *ngIf="pending$ | async"></mat-progress-bar>

    <mat-card-content>

      <h1 class="mat-h1">Forgot password</h1>

      <app-forgot-password-from
        class="form"
        [pending]="pending$ | async"
        [isVaidResetPassword]="(isVaidResetPassword$ | async)"
        (resetPasswordEmail)="checkResetEmail($event)"
        (resetPassword)="onResetPassword($event)"
        >
      </app-forgot-password-from>
    </mat-card-content>
  </mat-card>
</div>
