.tool-bar {
  background: #ffffff !important;
  position: relative;

  .menu {
    position: absolute;
    right: 5px;
  }

  .logo {
    cursor: pointer;

    .gudjob-logo {
      width: 200px;
      display: flex;
      align-items: center;
    }
  }
}
