<div class="display-center mat-elevation-z1 data-table">
  <div class="book-list">

    <mat-table matSort [dataSource]="dataSource" class="table">

      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef mat-sort-header> <span style="white-space: pre;"></span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> <img class="book-image" src="{{element.image}}" alt=""> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tên </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name | slice:0:40}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Thể loại </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{element.categoryName}} </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cost">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Giá nhập </mat-header-cell >
        <mat-cell *matCellDef="let element">
          <span>{{element.cost | currency:'VND'}} </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="inventory">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tồn kho </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{element.inventory}} </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Số lượng nhập </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="quantity-indicator text-truncate" [ngClass]="{'danger': element.amount < 10}"></span>
          <span>{{element.amount}} </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a mat-icon-button color="primary" routerLink="./{{element.id}}" matTooltip="Sửa">
            <i class="material-icons"> edit </i>
          </a>
          <button mat-icon-button color="primary" (click)="importProposal(element)" matTooltip="Yêu cầu thêm sách">
            <i class="material-icons add-icon"> add </i>
          </button>
          <button mat-icon-button color="warn" (click)="onDeleteBook(element)" matTooltip="Xóa">
            <i class="material-icons"> delete </i>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" class="table-head"></mat-header-row>
      <mat-row 
        matRipple 
        class="row" 
        *matRowDef="let row; columns: displayedColumns;" 
        >
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
