.action {
  display: flex;
  margin: 1.5rem;
  justify-content: space-between;
  align-items: center
}

.filter-field {
  margin-left: 0.5rem;
  margin-top: 1rem;
  width: 600px;
}

.table {
  width: 100% !important;
  overflow-x: auto;
  overflow-y: hidden;

  .row {
    cursor: pointer;
    height: 106px;

    &:hover {
      background: #f2f2f2 !important;
    }

    &.selected {
      background: #f2f2f2 !important;
    }
  }

}

.flag-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

th.mat-sort-header-sorted {
  color: black;
}


.progress-message {
  text-align: center;
  width: 100%;
  margin: 1rem;
  font-size: large;
}

.selected {
  background: #f2f2f2 !important;
}

.thumnail {
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.selected-row {
  background: #f2f2f2 !important;
}

.result-overview {
  display: flex;
  justify-content: space-between;
}

.book-image {
  width: 52px;
  height: 52px;
}

.add-product {
  padding: 1.5rem;
}

.data-table {
  margin: 1.5rem;
  display: flex;
  justify-content: flex-start;

  .no-book {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(0, 0, 0, .38);

    .material-icons {
      font-size: 100px;
    }
  }

  .book-detail {
    width: 100%;
  }
}

.quantity-indicator {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin-right: 8px;
  background: green;
}

.danger {
  background: red;
}

.book-list {
  width: 100%;
}
