.action {
  display: flex;
}

.filter-field {
  margin-left: 0.5rem;
  margin-top: 1rem;
  width: 97%;
}

.table {
  width: 100% !important;

  td.mat-cell {
    padding: 24px;
  }

  th.mat-header-cell {
    padding: 24px;
    font-weight: bolder;
    font-size: 0.9rem;
    white-space: pre-line;
  }
}

.flag-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

th.mat-sort-header-sorted {
  color: black;
}

.row {
  cursor: pointer;

  &:hover {
    background: #f2f2f2 !important;
  }
}

.progress-message {
  text-align: center;
  width: 100%;
  margin: 1rem;
  font-size: large;
}

.selected {
  background: #f2f2f2 !important;
}

.thumnail {
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.selected-row {
  background: #f2f2f2 !important;
}

.result-overview {
  display: flex;
  justify-content: space-between;
}

.book-image {
  width: 100px;
}

.add-product {
  padding: 1.5rem;
}

.data-table {
  margin: 1.5rem;
}
