$white: #ffffff;

* {
  transition: all 0.3s;
}

.landing {
  height: 100%;
  margin-top: -2px;
  background: url('~/assets/images/landing_background.svg') center top / cover no-repeat;
  padding: 0rem 3rem;

  .content {
    width: 50%;
    float: left;

    .title {
      margin-top: 0;
      font-size: 2.5rem;
      color: $white;
    }

    .intro {
      font-size: 2rem;
      color: $white;
      margin: 0;
    }

    .search-book {
      margin: 4rem 0;

      .most-search-title {
        color: $white
      }

      .most-search {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }

  .intro-img {
    width: 50%;
    float: right;

    img {
      height: 585px;
    }
  }

  .toolbar {

    background: transparent !important;

    .logo {
      display: flex;
      align-items: center;
      color: #fff;
      font-size: medium;

      .material-icons {
        margin-right: 5px;
      }
    }

    .navigate {
      .link {
        text-decoration: none;
        color: #ffffff;
        margin-right: 1rem;
      }
    }

    .spacer {
      flex: 1 1 auto;
    }
  }
}


@media (max-width: 576px) {
  .most-search {
    flex-wrap: nowrap !important;
    overflow-y: auto !important;
  }
}

@media (max-width: 768px) {

  .landing {
    padding: 0 1rem !important;

    .content {
      width: 100% !important;

      .title {
        font-size: 2rem;
      }

      .intro {
        font-size: 1.7rem;
      }
    }

    .intro-img {
      width: 100% !important;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .most-search {
      flex-wrap: nowrap !important;
      overflow-y: auto !important;

      .search {
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }
  }

}

// Large devices (desktops, 992px and up)
@media (max-width: 1799px) {
  .most-search {
    flex-wrap: nowrap !important;
    overflow-y: auto !important;

    .search {
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }

  .intro-img {
    width: 40% !important;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 1450px) {
  .content {
    width: 60% !important;
  }

  .most-search {
    width: 100% !important;
    justify-content: flex-start !important;

    .search {
      margin-right: 1rem;
      margin-bottom: 5px;
    }
  }

  .intro-img {
    width: 40% !important;

    img {
      height: 100%;
      width: 750px;
    }
  }
}

@media (max-width: 1160px) {
  .search {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .most-search {
    width: 100% !important;
    justify-content: flex-start !important;

    .title {
      font-size: 2rem;
    }

    .intro {
      font-size: 1.7rem;
    }
  }

  .intro-img {
    width: 40% !important;

    img {
      height: 100%;
      width: 750px;
    }
  }
}

.most-search {
  &::-webkit-scrollbar {
    height: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #28baba;
    border-radius: 5px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #92e1e1;
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #28baba;
    cursor: pointer;
  }
}
