<div class="landing">

  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <span class="logo" >
        <i class="material-icons">style</i> E Library
      </span>
      <span class="spacer"></span>
      <div class="navigate">
        <a mat-icon-button color="primary" class="link" routerLink="./books">
          <mat-icon>library_books</mat-icon>
        </a>
        <a mat-icon-button color="primary" class="link" routerLink="/admin/login">
          <mat-icon>vpn_key</mat-icon>
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>
    <div class="content">
      <h1 class="title">Chào mừng đến E Library</h1>
      <p class="intro">Đọc sách hay </p>
      <p class="intro">Mở mang đầu óc !</p>

      <div class="search-book">
        <app-search (keyword)="onSeachWithKeyword($event)"></app-search>

        <h3 class="most-search-title">Sách đề xuất</h3>
        <div class="most-search">
          <app-most-search class="search" *ngFor="let book of topSearchBooks$ | async" [book]="book"></app-most-search>
        </div>
    </div>
    
  </div>

</div>
