<mat-card class="card mat-elevation-z3">
  <mat-card-header>
    <mat-card-title>
      <strong>Thống kê sách theo thể loại</strong>
    </mat-card-title>
  </mat-card-header>


  <div class="chart-container"> 
    <div id="chartdiv"></div>

    <div class="detail" [ngClass]="{'selected-item mat-elevation-z8': selected}"
      [ngStyle]="{background: selectedColor}">
      <button class="close-btn" (click)="close()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>

      <h3 class="title"><strong>"{{ chossingCategory }}"</strong> - <strong>"{{ choogingValue }}"</strong> cuốn.
      </h3>

      <strong *ngIf="dataSource.length === 0">Hiện tại không có sách thuộc thể loại này</strong>

      <div *ngIf="dataSource.length > 0" class="example-container mat-elevation-z2">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="name" sticky>
            <th mat-header-cell *matHeaderCellDef> <strong>Tên sách</strong> </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="selectRow(row)"></tr>
        </table>

      </div>
    </div>
  </div>
</mat-card>