.chart-container {
  display: flex;
  height: 100%;
}

.detail {
  height: 0px;
  width: 0;
  transition: all 350ms ease-in;
  will-change: opacity;
  z-index: 500;
  visibility: hidden;
  margin: 1rem;
  padding: 1rem;

  &.selected-item {
    visibility: visible;
    height: 100%;
    width: 600px;
    height: 435px;
  }
}

.title {
  color: #ffffff
}

.example-container {
  height: 305px;
  width: 550px;
  overflow: auto;
}

table {
  width: 800px;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

tr:hover {
  background: #efefef;
  cursor: pointer;
}

.card {
  overflow: hidden
}

#chartdiv {
  cursor: pointer;
  width: 100%;
  height: 500px;
}
