<div class="explore-page">
  <mat-toolbar class="tool-bar mat-elevation-z1">
    <a routerLink="/explore">
      <img class="gudjob-logo" src="/assets/gudjob-logo-1.png" alt="">
    </a>

    <button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <a mat-menu-item (click)="editProfile()">
        <mat-icon [color]="'primary'">people</mat-icon>
        <span>Profile</span>
      </a>
      <a mat-menu-item routerLink="./admin">
        <mat-icon [color]="'primary'">people</mat-icon>
        <span>Account manage</span>
      </a>
      <button mat-menu-item (click)="logout()">
        <mat-icon [color]="'primary'">thumb_up_alt</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>

  </mat-toolbar>

  <h2 class="title">Users</h2>

  <div class="list-item mat-elevation-z2">

    <div *ngIf="(pending$ | async)">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef> User Name </th>
        <td style="width: 45% !important" mat-cell *matCellDef="let element">

          <span *ngIf="isSelectedId !== element.id">{{element.username}}</span>

          <mat-form-field *ngIf="isSelectedId === element.id">
            <mat-label>User name</mat-label>
            <input #usernameInput matInput placeholder="User name" [(ngModel)]="updateUserName"
              value="{{updateUserName}}">
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td style="width: 45% !important" mat-cell *matCellDef="let element">
          <span *ngIf="isSelectedId !== element.id">{{element.email}}</span>

          <mat-form-field *ngIf="isSelectedId === element.id">
            <mat-label>Email</mat-label>
            <input #emailInput matInput placeholder="Email" value="{{element.email}}" [(ngModel)]="updateEmail">
          </mat-form-field>

        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element" style="margin-right: 0; padding-right: 0; text-align: right;">
          <div class="action">
            <button mat-icon-button *ngIf="isSelectedId !== element.id" [color]="'primary'" (click)="editUser(element)">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button *ngIf="isSelectedId === element.id" [color]="'primary'"
              (click)="saveUser(element.id)">
              <mat-icon>save</mat-icon>
            </button>

            <button mat-icon-button *ngIf="isSelectedId === element.id" [color]="'warn'" (click)="cancel()">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-head"></tr>
      <tr style="line-height: 70px;" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

</div>
