<div class="container">

  <mat-form-field class="discover-field" [color]="'primary'">
    <mat-label>Search to discover</mat-label>

    <input #search="matInput" matInput type="text" placeholder="Ex.Games" [(ngModel)]="value"
      (keyup.enter)="searchExplore(search.value)">

    <button *ngIf="value"
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clearInput()">
      <mat-icon>close</mat-icon>
    </button>

  </mat-form-field>

  <mat-form-field class="country-field">
    <mat-label>Country</mat-label>
    <mat-select panelClass="custom-panel" [formControl]="country">
      <mat-option *ngFor="let country of displayConutries" value="{{country.code}}">
        <div class="flag-wrapper">
          <div>{{country.name}}</div>
          <div class="thumnail flag flag-icon-background flag-icon-{{country.flag}}"></div>
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="action">
    <button class="explore-btn" mat-raised-button color="primary" (click)="searchExplore(search.value)">
      <mat-icon>search</mat-icon>
      Explore
    </button>
  </div>

</div>

<div *ngIf="exploredList && exploredList.length > 0" class="display-center selection">
  <h3 class="selection-title">Selection</h3>
  <div *ngIf="interestList && interestList.length === 0" class="mat-elevation-z1 filter-field selection-filter">
    <span>{{selectionMessage}}</span>
  </div>
  <div *ngIf="interestList && interestList.length > 0" class="mat-elevation-z1 filter-field selection-filter">
    <mat-chip-list aria-label="Fish selection">
      <mat-chip *ngFor="let interest of interestList" [removable]="removable" (removed)="removeChip(interest)"
        [color]="'primary'" selected>
        {{interest}}

        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>

<div *ngIf="(exploredList && exploredList.length > 0) || (suggestionList && suggestionList.length > 0)"
  class="display-center selection result-overview">
  <h3>
    {{totalExplore}} interests related to "{{value}}"
  </h3>

  <div class="selection-actions">
    <button *ngIf="interestList.length > 0" style="margin-right: 0.75rem" color="primary" mat-stroked-button
      (click)="copyToClipBoard()">
      <mat-icon>play_for_work</mat-icon> Copy to clipboard
    </button>
    <button *ngIf="interestList.length > 0" color="primary" mat-stroked-button (click)="clearSelection()">
      <mat-icon>clear_all</mat-icon> Clear selection
    </button>
  </div>
</div>

<div class="display-center mat-elevation-z2 data-table">

  <div *ngIf="pending">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div class="filter">
    <mat-form-field class="filter-field">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <button *ngIf="exploredList && exploredList.length > 0" color="primary" mat-stroked-button (click)="selectAll()">
      <mat-icon>done_all</mat-icon> Select all
    </button>
  </div>

  <div class="filter">
    <mat-form-field class="filter-field">
      <mat-label>Type</mat-label>
      <mat-select [value]="adType">
        <mat-option [value]="'adInterest'" (click)="adInterestSelect()">
          Ad Interest
        </mat-option>
        <mat-option [value]="'adInterestSuggestion'" (click)="adInterestSuggestionSelect(search.value)">
          Ad Interest Suggestion
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div style="overflow-x:auto; overflow-y: hidden">
    <table mat-table matSort [dataSource]="dataSource" class="table">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox [color]="'primary'" (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox [color]="'primary'" (click)="stopPropagation($event)"
            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Interests </th>
        <td mat-cell *matCellDef="let element"> {{element.name | slice:0:40}} </td>
      </ng-container>

      <ng-container matColumnDef="audience_size">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <span style="white-space: pre;">Audience size</span>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.audience_size | number}} </td>
      </ng-container>

      <ng-container matColumnDef="keyword">
        <th mat-header-cell *matHeaderCellDef> Paths </th>
        <td mat-cell *matCellDef="let element">
          <div class="path-container" *ngIf="element.path">
            <span *ngFor="let e of element.path; let i = index" class="path">
              {{e}} <mat-icon *ngIf="i !== (element.path.length - 1)">keyboard_arrow_right</mat-icon>
            </span>
          </div>

          <div *ngIf="!element.path">No path</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>
          Type
        </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.type === 'adInterest'">Ad Interest</span>
          <span *ngIf="element.type !== 'adInterest'">Ad Suggestion</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="search">
        <th mat-header-cell *matHeaderCellDef> Search </th>
        <td mat-cell *matCellDef="let element">
          <a href="{{facebookLink}}{{element.name}}" target="blank" style="margin-right: 0.75rem">
            <i class="fa fa-facebook-f icon"></i>
          </a>
          <a href="{{googleLink}}{{element.name}}" target="blank">
            <i class="fa fa-google icon"></i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-head"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row" (click)="selectRow(row)" matRipple></tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
