.flag-icon-background {
  height: 20px;
  width: 30px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}

.flag-icon:before {
  content: "\00a0";
}

.flag-icon-vn {
  background-image: url("/assets/countries/vn.svg");
}

.flag-icon-us {
  background-image: url("/assets/countries/us.svg");
}

.flag-icon-us.flag-icon-squared {
  background-image: url("/assets/countries/1x1/us.svg");
}

.flag-icon-fr {
  background-image: url("/assets/countries/fr.svg");
}

.flag-icon-de {
  background-image: url("/assets/countries/de.svg");
}

.flag-icon-kr {
  background-image: url("/assets/countries/kr.svg");
}

.flag-icon-jp {
  background-image: url("/assets/countries/jp.svg");
}

.flag-icon-th {
  background-image: url("/assets/countries/th.svg");
}

.flag-icon-sg {
  background-image: url("/assets/countries/sg.svg");
}
