<h1 mat-dialog-title>Thêm sách mới</h1>

<div mat-dialog-content>
  <form name="addProductForm" autocomplete="off" novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="input">
        <mat-form-field>
          <mat-label>Tên sách</mat-label>
          <input matInput autocomplete="off" tabindex="1" type="text" formControlName="name" />
          <mat-error>
            <span *ngIf="formErrors.name.required">
              Nhập tên sách
            </span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input">
        <mat-form-field>
          <mat-label>Thể loại sách</mat-label>
          <mat-select formControlName="category_id">
            <mat-option *ngFor="let category of data.categories" [value]="category.id">
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="input">
        <mat-form-field>
          <mat-label>Vị trí đặt</mat-label>
          <mat-select formControlName="location">
            <mat-option *ngFor="let location of data.locations" [value]="location.locationId">
              Khu {{location.name}} - {{location.description}} -- {{location.locationId}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="input">
        <mat-form-field>
          <mat-label>SKU</mat-label>
          <input matInput autocomplete="off" tabindex="1" type="text"  formControlName="sku" />
          <mat-error>
            <span *ngIf="formErrors.name.required">
              Nhập mã SKU
            </span>
          </mat-error>
        </mat-form-field>
      </div>


      <div class="input">
        <mat-form-field>
          <mat-label>Tác giả</mat-label>
          <input matInput autocomplete="off" tabindex="2" type="text" formControlName="author" />
          <mat-error>
            <span *ngIf="formErrors.author.required">
              Nhập tên tác giả
            </span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input">
        <mat-form-field>
          <mat-label>Giá nhập</mat-label>
          <input matInput autocomplete="off" tabindex="2" type="text" formControlName="cost" />
          <mat-error>
            <span *ngIf="formErrors.cost.required">
              Nhập giá nhập
            </span>
          </mat-error>
        </mat-form-field>
      </div>

    </div>

    <div class="form-row">
      <div class="input">
        <mat-form-field>
          <mat-label>Giá bán lẻ</mat-label>
          <input matInput autocomplete="off" tabindex="2" type="text" formControlName="retailPrice" />
          <mat-error>
            <span *ngIf="formErrors.retailPrice.required">
              Nhập giá bán lẻ
            </span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input">
        <mat-form-field>
          <mat-label>Số lượng nhập</mat-label>
          <input matInput autocomplete="off" tabindex="2" type="text" formControlName="amount" />
          <mat-error>
            <span *ngIf="formErrors.amount.required">
              Nhập số lượng nhập
            </span>
          </mat-error>
        </mat-form-field>
      </div>

    </div>

    <div class="form-row">
      <div class="input">
        <mat-form-field>
          <mat-label>Nhà cung cấp</mat-label>
          <input matInput autocomplete="off" tabindex="2" type="text" formControlName="distributor" />
          <mat-error>
            <span *ngIf="formErrors.distributor.required">
              Nhập nhà cung cấp
            </span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input">
        <mat-form-field>
          <mat-label>Ngôn ngữ</mat-label>
          <input matInput autocomplete="off" tabindex="2" type="text" formControlName="language" />
        </mat-form-field>
      </div>

      <div class="input">
        <mat-form-field>
          <mat-label>Ngày xuất bản</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="publishDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>
            <span *ngIf="formErrors.publishDate.required">
              Nhập ngày xuất bản
            </span>
          </mat-error>

        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="input">
        <mat-form-field>
          <mat-label>Mô tả sách</mat-label>
          <textarea matInput placeholder="Mô tả" formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div>


      <app-upload (coverURL)="onCoverURL($event)"></app-upload>
    </div>

  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button (click)="onSubmit()" color="primary" [disabled]="form.invalid">Save</button>
</div>
