.action {
  display: flex;
  margin: 1.5rem;
  justify-content: space-between;
  align-items: center
}

.filter-field {
  margin-left: 0.5rem;
  margin-top: 1rem;
  width: 600px;
}

.proposal {
  margin: 1.5rem;
}