<div class="auth-page" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="auth-card">

    <mat-card-content>

      <div class="logo-section">
        <img class="logo" src="./assets/app-logo.png" />
      </div>

      <h1 class="mat-h1 text-center login">
        Login
        <mat-spinner *ngIf="pending && !error" strokeWidth="3" [diameter]="30"></mat-spinner>
      </h1>

      <p class="mat-error" *ngIf="error">
        {{ error }}
      </p>

      <div class="social">
        <div class="social-button">
          <button mat-raised-button [color]="'primary'" (click)="loginFB()">
            <i class="fa fa-google icon"></i> Login with Facebook
          </button>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>
