<form name="resetPasswordForm"
  autocomplete="off"
  novalidate
  [formGroup]="form"
  (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput
      autocomplete="off"
      tabindex="1"
      type="text"
      placeholder="Password"
      formControlName="password" />
    <mat-icon matSuffix>lock</mat-icon>
    <mat-error>
      <span *ngIf="formErrors.password.required">
        Password is required
      </span>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Confirm password</mat-label>
    <input matInput
      autocomplete="off"
      tabindex="2"
      type="password"
      placeholder="Confirm password"
      formControlName="confirmPassword" />
    <mat-icon matSuffix>lock</mat-icon>
    <mat-error>
      <span *ngIf="formErrors.confirmPassword.required">
        Confirm password is required
      </span>
      <span *ngIf="formErrors.confirmPassword.mustMatch">
        Password is not matched
      </span>
    </mat-error>
  </mat-form-field>

  <div>
    <span fxFlex></span>
    <button mat-raised-button
      tabindex="3"
      color="accent"
      type="submit"
      class="action-button w-100"
      [disabled]="form.invalid || pending">
      Reset
    </button>
  </div>

</form>

<div class="text-center mt-32">
  <a [routerLink]="[ '/login' ]">Login</a>
</div>
