.search {
  width: 100%;
}

.search-btn {
  white-space: nowrap;
  flex: none;
  position: absolute;
  top: 0;
  right: -12px;
  height: 100%;
}

:host::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
  top: 0px !important;
  left: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
}

:host::ng-deep.mat-form-field-flex {
  background: white !important;
  border-radius: 4.75px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, .2),
    0 8px 10px 1px rgba(0, 0, 0, .14),
    0 3px 14px 2px rgba(0, 0, 0, .12);
}

:host::ng-deep.mat-form-field-infix {
  border-top: 0;
}
