<div  class="input-image">
  <input type="file" id="file" class="inputfile" (change)="onSelectImage($event)">
  <label for="file">
    <i class="material-icons">add_photo_alternate</i>
  </label>
</div>

<img *ngIf="previewImage && !uploadedImageUrl" src="{{previewImage}}" alt="">

<img *ngIf="uploadedImageUrl" src="{{uploadedImageUrl}}" alt="">

{{ uploadProcess | json }}

<div class="mt-3 mb-3">
  <p *ngIf="uploadingImages.length === 0"><strong> Chưa có hình, hãy chọn hình đăng </strong></p>
  <p *ngIf="uploadingImages.length > 0"><strong> Hình đang được chọn</strong></p>

  <mat-progress-bar class="example-margin" [color]="'priamry'" [mode]="'determinate'" [bufferValue]="uploadProcess">
  </mat-progress-bar>

  <div class="upload-process" *ngIf="uploadProcess > 0">

    <div *ngIf="uploadSuccess" class="alert alert-success" role="alert">
      Đăng hình thành công !
    </div>
    <br>

    <div class="progress">
      <div class="progress-bar" role="progressbar" [ngStyle]="{'width': uploadProcess + '%'}"
        aria-valuenow="uploadProcess" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

  </div>

  <div class="upload-process" *ngIf="uploadProcess === -1">
    <div class="alert alert-danger" role="alert">
      Đăng hình thất bại !
    </div>
    <br>
  </div>

</div>