<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				<mat-form-field class="full-width">
					<input matInput placeholder="Name" formControlName="name">
				</mat-form-field>
			</mat-card-title>
			<mat-card-subtitle>
				<mat-form-field class="full-width">
					<input matInput placeholder="Author" formControlName="author">
				</mat-form-field>
			</mat-card-subtitle>

			<mat-card-actions>
				<button mat-raised-button color="primary" type="submit">Save</button>
				<button mat-raised-button color="warn" (click)="openDialog()">Delete</button>
			</mat-card-actions>
		</mat-card-header>

		<mat-card-content *ngIf="selectedBook">
			<div class="card-content">
				<div class="book-cover">
					<img mat-card-image class="book-cover-image" src="{{selectedBook.image}}" alt="Book cover">
				</div>

				<div class="book-detail">
					<mat-form-field class="full-width">
						<textarea matInput placeholder="Book description" formControlName="description"></textarea>
					</mat-form-field>

					<p>
						<mat-form-field class="full-width">
							<!-- <input matInput placeholder="Publish day" formControlName="publishDate"> -->

							<input matInput formControlName="publishDate" [matDatepicker]="picker" placeholder="Choose a date" >
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>

						</mat-form-field>
					</p>

					<p>
						<mat-form-field class="full-width">
							<input matInput placeholder="Amount" formControlName="amount">
						</mat-form-field>
					</p>

					<p>
						<mat-form-field class="full-width">
							<input matInput placeholder="Distributor" formControlName="distributor">
						</mat-form-field>
					</p>

					<p>
						<mat-form-field class="full-width">
							<input matInput placeholder="Cost" formControlName="cost">
						</mat-form-field>
					</p>

					<p>
						<mat-form-field class="full-width">
							<input matInput placeholder="Inventory" formControlName="inventory">
						</mat-form-field>
					</p>

					<p>
						<mat-form-field class="full-width">
							<input matInput placeholder="RetailPrice" formControlName="retailPrice">
						</mat-form-field>
					</p>

					<p>
						<mat-form-field class="full-width">
							<input matInput placeholder="Language" formControlName="language">
						</mat-form-field>
					</p>

					<p>
						<mat-form-field class="full-width">
							<input matInput placeholder="Size" formControlName="size">
						</mat-form-field>
					</p>

					<p>
						<mat-form-field class="full-width">
							<input matInput placeholder="Total page" formControlName="totalPage">
						</mat-form-field>
					</p>

					<p>
						<mat-form-field class="full-width">
							<input matInput placeholder="Translator" formControlName="translator">
						</mat-form-field>
					</p>
				</div>
			</div>
		</mat-card-content>

	</mat-card>
</form>