<div class="explore-page">

  <app-navbar [isAdmin]="(loggedInUser$ | async).role === 'admin'" (logout)="logout($event)"> </app-navbar>

  <div class="list-item">

    <app-explore-table [exploredList]="exploredList$ | async" [suggestionList]="adSuggestionList$ | async"
      [pending]="pending$ | async" [totalExplore]="totalInterest$ | async" (exploredKeyword)="onSearch($event)"
      (getSuggestionList)="getAdSuggestionList($event)" (select)="onSelectInterest($event)">
    </app-explore-table>

  </div>

  <ng-container *ngIf="(totalInterest$ | async) === 0">
    <div class="lonely-here">
      <p>No explore, please search to discover ...</p>
    </div>
  </ng-container>

</div>
