<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Admin</span>
    <span class="spacer"></span>
    <div>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<mat-nav-list>

  <mat-list-item class="item" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    Overview
  </mat-list-item>

  <mat-list-item class="item" [routerLink]="['/admin/users']" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    Users
  </mat-list-item>

  <mat-list-item class="item" [routerLink]="['/admin/books']" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    Books
  </mat-list-item>

  <mat-list-item class="item" [routerLink]="['/admin/account/settings']" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    Settings
  </mat-list-item>
</mat-nav-list>