<mat-toolbar color="primary">
  <mat-toolbar-row>
    <i class="material-icons">multiline_chart</i> <span>Admin</span>
    <span class="spacer"></span>
    <div>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<mat-nav-list>

  <a mat-list-item class="item" routerLink="/admin/overview" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <i class="material-icons">multiline_chart</i> Overview
  </a>

  <a mat-list-item class="item" [routerLink]="['/admin/users']" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    <i class="material-icons">perm_identity</i> Users
  </a>

  <a mat-list-item class="item" [routerLink]="['/admin/books']" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    <i class="material-icons">menu_book</i> Books
  </a>

  <a mat-list-item class="item" [routerLink]="['/admin/account/settings']" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    <i class="material-icons">widgets</i> Settings
  </a>

</mat-nav-list>