<mat-vertical-stepper [linear]="'false'" #stepper class="book-detail">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" class="basic-info-form">
      <ng-template matStepLabel><strong>Thông tin chung</strong></ng-template>

      <mat-form-field>
        <input matInput placeholder="Tên sách" formControlName="bookName">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea formControlName="description" matInput placeholder="Mô tả"></textarea>
      </mat-form-field>

      <mat-form-field class="example-chip-list" *ngIf="categories.length > 0">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let cat of categories" [selectable]="selectable" [removable]="removable"
            (removed)="remove(cat)">
            {{cat}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Thể loại" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Nhà phân phối" formControlName="distributor">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Ngôn ngữ" formControlName="language">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Người dịch" formControlName="translator">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Ngày phát hành" formControlName="publishDate">
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup" class="data-form">
      <ng-template matStepLabel>Số liệu sách</ng-template>

      <mat-form-field>
        <input matInput placeholder="Số lượng" formControlName="amount" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Số lượng tồn" formControlName="inventory" required>
      </mat-form-field>

      <mat-form-field>
        <span matPrefix>đ &nbsp;</span>
        <input matInput placeholder="Giá nhập" formControlName="cost" required>
      </mat-form-field>

      <mat-form-field>
        <span matPrefix>đ &nbsp;</span>
        <input matInput placeholder="Giá bán" formControlName="retailPrice" required>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Hình ảnh</ng-template>
    <img src="{{selectedBook.image}}" alt="">
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>

</mat-vertical-stepper>