.card-content {
  display: flex;
  flex-direction: row;
  padding: 1rem;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .book-cover {
    margin-top: 2rem;

    .book-cover-image {
      width: 300px !important;
      max-width: 300px;
    }
  }

  .book-detail {
    margin-left: 2.5rem;
  }
}

.border-bottom {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid lightgrey;
}

:host::ng-deep {
  .mat-card-image {
    width: 300px !important;
  }

  .mat-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;	
  }
}
