<div class="actions">
  <button mat-raised-button color="primary" (click)="editBook()" class="edit-btn">
    <i class="material-icons"> edit </i> Sửa
  </button>
  <button mat-raised-button color="primary" *ngIf="isEdit" (click)="saveBook()" class="save-btn">
    <i class="material-icons"> save </i> Lưu
  </button>
  <button mat-raised-button color="warn" (click)="onDeleteBook()" class="save-btn">
    <i class="material-icons"> delete </i> Xóa
  </button>
</div>

<mat-vertical-stepper [linear]="'false'" #stepper class="book-detail">
  <mat-step [stepControl]="firstFormGroup" state="basicInfo">

    <form [formGroup]="firstFormGroup" class="basic-info-form">
      <ng-template matStepLabel><strong>Thông tin chung</strong></ng-template>

      <mat-form-field>
        <input matInput placeholder="Tên sách" formControlName="name" #bookName>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea rows="8" class="description" formControlName="description" matInput placeholder="Mô tả"></textarea>
      </mat-form-field>

      <mat-form-field class="example-chip-list" *ngIf="categories.length > 0">

        <input *ngIf="!isEdit" matInput placeholder="Thể loại" formControlName="category_id" #bookName>

        <ng-container *ngIf="isEdit">
          <mat-label>Thể loại</mat-label>
          <mat-select formControlName="category_id">
            <mat-option *ngFor="let cat of categories" [value]="cat.id">
              {{cat.name}}
            </mat-option>
          </mat-select>
        </ng-container>

      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Nhà phân phối" formControlName="distributor">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Ngôn ngữ" formControlName="language">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Người dịch" formControlName="translator">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Ngày phát hành" formControlName="publishDate">
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" matStepperNext>
          Tiếp tục <i class="material-icons"> navigate_next </i>
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" state="data">
    <form [formGroup]="secondFormGroup" class="data-form">
      <ng-template matStepLabel>Số liệu sách</ng-template>

      <mat-form-field>
        <input matInput placeholder="Số lượng" formControlName="amount" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Số lượng tồn" formControlName="inventory" required>
      </mat-form-field>

      <mat-form-field>
        <span matPrefix>đ &nbsp;</span>
        <input matInput placeholder="Giá nhập" formControlName="cost" required>
      </mat-form-field>

      <mat-form-field>
        <span matPrefix>đ &nbsp;</span>
        <input matInput placeholder="Giá bán" formControlName="retailPrice" required>
      </mat-form-field>

      <div>
        <button mat-raised-button matStepperPrevious color="primary" class="navigate-back-data">
          <i class="material-icons navigate-back"> navigate_next </i> Trở về
        </button>
        <button mat-raised-button matStepperNext color="primary">
          Tiếp tục <i class="material-icons"> navigate_next </i>
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step state="cover">
    <ng-template matStepLabel>Hình ảnh</ng-template>

    <div class="book-cover-container">

      <div class="loading-spinner">
        <mat-spinner *ngIf="isEdit && uploadSuccess"></mat-spinner>
      </div>

      <div class="input-image" *ngIf="isEdit">
        <input type="file" id="file" class="inputfile" (change)="onSelectImage($event)">
        <label for="file">
          <i class="material-icons"> add_photo_alternate </i>
        </label>
      </div>

      <img *ngIf="uploadedImageUrl" [ngClass]="{'filter-image': uploadSuccess}" class="book-cover"
        src="{{uploadedImageUrl}}">

      <img *ngIf="!uploadedImageUrl && selectedBook.image" [ngClass]="{'filter-image': uploadSuccess}"
        class="book-cover" src="{{selectedBook.image}}">

    </div>

    <div>
      <button mat-raised-button matStepperPrevious color="primary">
        <i class="material-icons navigate-back"> navigate_next </i> Trở về
      </button>
    </div>
  </mat-step>

  <ng-template matStepperIcon="basicInfo">
    <mat-icon>book</mat-icon>
  </ng-template>

  <ng-template matStepperIcon="data">
    <mat-icon>assessment</mat-icon>
  </ng-template>

  <ng-template matStepperIcon="cover">
    <mat-icon>perm_media</mat-icon>
  </ng-template>

</mat-vertical-stepper>