.basic-info-form,
.data-form {
  display: flex;
  flex-direction: column;
}

.book-cover-container {
  text-align: center
}

.book-cover-container .book-cover {
  width: 500px;
}

input, textarea {
  color: #000000 !important;
}