.lonely-here {
  margin: 1rem;
}

.action {
  display: flex;
  margin: 1.5rem;
  justify-content: space-between;
  align-items: center
}

.filter-field {
  margin-left: 0.5rem;
  margin-top: 1rem;
  width: 600px;
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
