<div class="action">
  <h1> Quản lý sách </h1>

  <mat-form-field class="filter-field" appearance="outline">
    <mat-label>Tìm kiếm</mat-label>
    <input matInput (keyup)="applyFilter($event)">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <span>
    <button mat-mini-fab color="primary" (click)="openCreateDialog()">
      <i class="material-icons">add</i>
    </button>
  </span>

</div>

<ng-container *ngIf="(books$ | async) && (categories$ | async); else lonely">
  <app-product-table 
      [books]="books$ | async" 
      [categories]="categories$ | async"
      [findBook]="findBook"
      [filter]="filterValue"
      (deleteBook)="onDeleteBook($event)">
  </app-product-table>
</ng-container>

<ng-template #lonely>
  <div *ngIf="loading$ | async; else empty" class="loading">
    <mat-spinner></mat-spinner>
    <div>Đang tải...</div>
  </div>

  <ng-template #empty>
    <div class="d-flex" l10nTranslate>
      Hiện tại không có sách
    </div>
  </ng-template>

</ng-template>